homeassistant==2026.2.3
pytest==9.0.0
pytest-asyncio==1.3.0
pytest-cov==7.0.0
pytest-homeassistant-custom-component==0.13.316
aiousbwatcher>=1.1.1
bluetooth-data-tools==1.28.4
habluetooth==5.8.0
pyudev
pyserial
ruff
